@charset "UTF-8";

*{
      padding: 0%;
      margin: 0%;
}

html, body{
      background-color: gray;
}
header{
      background-color: black;
      color: white;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;
}
/*  text-transform: ;posso colocar todas a letras maiusculas e minusculas, conduto font-variant: small-caps; é melhor para site na questão visualização*/
header >h1 {

      font-variant: small-caps;
    
}

a{
      text-decoration: none;
      color: white;
}

header a:hover, footer a:hover{
      text-decoration: underline;
}
/*line-height espaçamento das linhas */
section {
      padding-left: 30px;
      padding-top: 10vh;
      padding-bottom: 10vh;
      line-height: 2em;
}
.normal{
      background-color: white;
}
.imagem{
 color: white;
 background-color: rgba(29, 28, 28, 0.158);
}
.imagem >p {
      background-color: rgba(0, 0, 0, 0.219);
      width: 400px;
}
footer{
      background-color: black;
      color: white;
      text-align: center;
      padding: 10px;
}